# Python Standard
__pycache__/
*.py[cod]
*$py.class

# Virtual Environments
.venv/
venv/
env/
ENV/

# IDEs and Editors
.vscode/
.idea/
*.swp
*.swo

# Distribution / Build (PyInstaller)
build/
dist/

# Project Specific (Local Data & Keys)
config.dat
history.json
config.json
contacts.json

# Deployment Automation
deploy.py
C:/Users/carlo/Desktop/PKB Apps/SMS Companion/


# Logs and Temp
*.log
.temp/
